* {
	border-color: @foreground;
}

#window {
	border: 3;
}

#message {
    border: 3px 0px 0px;
}

#listview {
    border: 3px 0px 0px;
}
#element.selected.normal {
	color: @background;
	background-color: @urgent-background;
}
