configuration {
 	font: "FiraCode Nerd Font Mono 11";
 	modi: "drun,window,ssh";
 	width: 50;
 	columns: 2;
 	show-icons: true;
 	icon-theme: "Tela-circle";
}


@theme "~/.cache/wal/colors-rofi-dark"
@theme "~/.config/rofi/border-override"
