@import url('file:///home/chasemcdonald/.cache/wal/colors-waybar.css');



* {
    border: none;
    font-family: FiraCode Nerd Font Mono;
    margin: 0;
	padding: 0;
    font-weight: bold;
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
    background: transparent; 
    color: @foreground;
}

#workspaces, #mode {
	background: @background;
	border-radius: 8px;
}

#workspaces button {
    color: @foreground;
    padding: 6px;
}

#workspaces button:hover, #taskbar button:hover { 
	border-radius: 8px; 
	background: @background;
} 

#workspaces button.focused {
	color: @color1;
}

#workspaces button.persistent, #pulseaudio.muted {
	color: rgba(255, 255, 255, 0.2);
}

#mode {
	border-radius: 8px;
	margin-left: 10px;
	padding: 6px;
}

#custom-tabletmode, #cpu, #memory, #temperature, #network, #backlight, #pulseaudio, #battery, #clock {
	padding: 6px 10px;
	color: @foreground;
	background: @background;
}

#custom-tabletmode {
	color: @color4;
	border-radius: 8px 0 0 8px;
}

#custom-tabletmode.active { 
	background: @color4;
	color: @background;
} 

#cpu {
	color: @color1;
}

#memory {
	color: @color2;
}

#temperature {
	color: @color3;
}

#backlight {
	color: @color4
}

#pulseaudio {
	color: @color5;
}

#network {
	color: @color6;
}

#battery {
	color: @color1;
}


#clock {
	color: @color2;
	border-radius: 0 8px 8px 0;
}

@keyframes color-pulse1 {
	to {
		color: @color3
	}
}

@keyframes color-pulse2 {
	to {
		color: @color2
	}
}

#battery.charging {
	animation-name: color-pulse2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {

    animation-name: color-pulse1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
